<style>
#nav_header{


}
#nav_header > .title{
    font-weight: bold;
    color: #373737;
    margin-top: 10px;
}

#nav_header > .title > a {
    text-decoration: none;
}

#nav_header > a {
    color: #888;
    text-decoration: none;
    margin: 10px 10px;
    line-height: 25px;
}

#nav_header > a.active {
    color: #222;
}
</style>


<div id="nav_header">
  {% for nav_item in nav %}
    {% if nav_item.children %}
      <div class='title'>{{nav_item.title}}</div>
      {% for nav_child in nav_item.children %}
        <a href="{{ nav_child.url }}" {% if nav_child.active %}class='active'{%endif%}>{{nav_child.title}}</a><br/>
        {% if nav_child.active %}<div id='toc'></div>{%endif%}
      {% endfor %}
    {% else %}
      <div class='title'><a href="{{ nav_item.url }}">{{nav_item.title}}</a></div>
    {% endif %}
  {% endfor %}
</div>
