<div id='footer'>
  <div id='container'>
    <div class='footer-top'>
      <ul>
        <li>© 2014 Factor.io</li>
        <li>Terms of Service</li>
        <li>Privacy Policy</li>
        <li>Submit a ticket</li>
      </ul>
    </div>
    <div class="footer-bottom">
      <div class="footer1">
        <p>
          <strong>Factor.io</strong>
          <br>
          1001 SE Water Ave.
          <br>
          Suite 205
          <br>
          Portland, OR 97214
        </p>
      </div>
      <div class="footer2">
        <a href="http://blog.factor.io">Blog</a>
        <a href="http://twitter.com/factor_io">Twitter</a>
        <a href="http://linkedin.com/company/factor-io">LinkedIn</a>
        <a href="http://facebook.com/factorapp">Facebook</a>
      </div>
      <div class="footer3">
        <a href="mailto:hi@factor.io">Contact Us</a>
        <a href="https://factor.io/home/about">About Us</a>
        <a href="mailto:careers@factor.io">Careers</a>
        <a href="https://factor.io/partners">Partners</a>
      </div>
      <div class="footer4">
        <strong>Products</strong>
        <a href="https://factor.io/users/sign_up">Cloud</a>
        <a href="http://docs.factor.io">Open Source</a>
        <a href="https://factor.io/pro">Pro</a>
        <a href="https://factor.io/guru">Guru</a>
      </div>
    </div>
  </div>
</div>