#footer
  #container
    .footer-top
      %ul
        %li
          ©
          = Time.now.year
          Factor.io</li>
        %li
          %a(href="https://factor.io/tos.html") Terms of Service
        %li
          %a(href="https://factor.io/privacy.html") Privacy Policy
        %li
          %a(href="mailto:tickets@factor.io") Submit a Ticket

    .footer-bottom
      .footer1
        %p
          %strong Factor.io
          %br
          1001 SE Water Ave.
          %br
          Suite 205
          %br
          Portland, OR 97214
      .footer2
        %a(href="http://blog.factor.io") Blog
        %a(href="http://twitter.com/factor_io") Twitter
        %a(href="http://linkedin.com/company/factor-io") LinkedIn
        %a(href="http://facebook.com/factorapp") Facebook
      .footer3
        %a(href="mailto:hi@factor.io") Contact Us
        %a(href="https://factor.io/about.html") About Us
        %a(href="mailto:careers@factor.io") Careers
      .footer4
        %strong Products
        %a(href="http://docs.factor.io") Open Source
        %a(href="https://factor.io/pro.html") Pro
        