---
title: Getting Started
---

%p
  Whether you want to learn Factor.io Core (Open Source version) or Factor.io Pro, we recommend you start by setting up a basic workflow with Factor.io
%p
  %a.button(href='/learn/step_1_before_you_start.html') Get Started with Factor.io Core
%p
  We're always happy to help out with code or any other question you might have.
  %a(href='mailto:support@factor.io') Learn More