---
title: Getting Started
---
This guide gets you started with setting up your server with pre-reqs, install Factor.io server, creating your first workflow, and starting the server in the background.



.product
  %img(src='https://factor.io/assets/product-opensource.png')
  %h2 Open Source
  %p
    %strong Factor.io Core
    is the core runtime and integration service which you can run on your own infrastructure and integrate with both public and private on-prem services.
  %a.button.register_button(href='http://docs.factor.io/') Get Started
.product
  %img(src='https://factor.io/assets/product-pro.png')
  %h2 Professional
  %p
    %strong Factor.io Pro
    is the enterprise-ready edition which includes integration with on-prem services, custom integration, 24/7 support, training and professional services.
  %a.button.register_button(href='https://factor.io/pro') Learn More
.product
  %img(src='https://factor.io/assets/product-guru.png')
  %h2 Guru
  %p
    %strong Factor.io Guru
    is a subscription based priority support service with professional services. Great complimentary service for small/mid-sized teams using the Open Source edition.
  %a.button.register_button(href='https://factor.io/guru') Learn More